################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ClosedXMLSample/bin/Debug
/.vs
/packages
/ClosedXMLSample/obj/Debug
